html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato', sans-serif; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 870px;
  background-image: url(../images/logo_bg.png);
  color: #fff; }
  .header .header__logo-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 110px;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.43); }
    .header .header__logo-nav .header__logo {
      margin-left: 145px; }
    .header .header__logo-nav .logo a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 205px;
      height: 100px;
      text-decoration: none;
      color: #fff; }
      .header .header__logo-nav .logo a .logo__img {
        width: 54px;
        height: 41px; }
      .header .header__logo-nav .logo a .logo__text {
        font-size: 43px;
        letter-spacing: -0.47px;
        font-weight: 600; }
    .header .header__logo-nav .header__navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .header__logo-nav .header__navigation ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width: 700px;
        list-style: none; }
        .header .header__logo-nav .header__navigation ul a {
          text-decoration: none;
          display: block;
          font-size: 14px;
          font-weight: 500;
          color: #fff;
          text-transform: uppercase; }
      .header .header__logo-nav .header__navigation .header__search {
        margin-left: 10px; }
        .header .header__logo-nav .header__navigation .header__search a {
          color: #fff; }
      .header .header__logo-nav .header__navigation .header__facebook {
        margin-left: 35px;
        margin-right: 170px; }
        .header .header__logo-nav .header__navigation .header__facebook a {
          color: #fff; }
  .header .header__logo-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%; }
    .header .header__logo-text .header__logo-text__wrap {
      width: 560px;
      height: 400px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: space-evenly;
          -ms-flex-align: space-evenly;
              align-items: space-evenly;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-left: 250px; }
      .header .header__logo-text .header__logo-text__wrap h1 {
        font-size: 64px;
        letter-spacing: -0.69px;
        margin-top: 10px;
        margin-bottom: 0px; }
        .header .header__logo-text .header__logo-text__wrap h1 span {
          color: #fba419; }
      .header .header__logo-text .header__logo-text__wrap p {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.6px;
        margin-top: 15px;
        margin-bottom: 50px; }
      .header .header__logo-text .header__logo-text__wrap .btn {
        width: 182px;
        height: 51px;
        background-color: #fba419;
        border: none;
        border-radius: 25px;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer; }

/*# sourceMappingURL=style.css.map */