html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato', sans-serif; }

.btn {
  background-color: #fba419;
  border: none;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 870px;
  background-image: url(../images/logo_bg.png);
  color: #fff; }
  .header .header__logo-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 110px;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.43); }
    .header .header__logo-nav .header__logo {
      margin-left: 145px; }
    .header .header__logo-nav .logo a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 205px;
      height: 100px;
      text-decoration: none;
      color: #fff; }
      .header .header__logo-nav .logo a .logo__img {
        width: 54px;
        height: 41px; }
      .header .header__logo-nav .logo a .logo__text {
        font-size: 43px;
        letter-spacing: -0.47px;
        font-weight: 600; }
    .header .header__logo-nav .header__navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .header__logo-nav .header__navigation ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width: 700px;
        list-style: none; }
        .header .header__logo-nav .header__navigation ul a {
          text-decoration: none;
          display: block;
          font-size: 14px;
          font-weight: 500;
          color: #fff;
          text-transform: uppercase; }
      .header .header__logo-nav .header__navigation .header__search {
        margin-left: 10px; }
        .header .header__logo-nav .header__navigation .header__search a {
          color: #fff; }
      .header .header__logo-nav .header__navigation .header__facebook {
        margin-left: 35px;
        margin-right: 170px; }
        .header .header__logo-nav .header__navigation .header__facebook a {
          color: #fff; }
  .header .header__logo-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%; }
    .header .header__logo-text .header__logo-text__wrap {
      width: 560px;
      height: 400px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: space-evenly;
          -ms-flex-align: space-evenly;
              align-items: space-evenly;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-left: 250px; }
      .header .header__logo-text .header__logo-text__wrap h1 {
        font-size: 64px;
        letter-spacing: -0.69px;
        margin-top: 10px;
        margin-bottom: 0px; }
        .header .header__logo-text .header__logo-text__wrap h1 span {
          color: #fba419; }
      .header .header__logo-text .header__logo-text__wrap p {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.6px;
        margin-top: 15px;
        margin-bottom: 50px; }
      .header .header__logo-text .header__logo-text__wrap .header__logo-btn {
        width: 182px;
        height: 51px;
        border-radius: 25px;
        font-size: 20px; }

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 830px;
  width: auto; }
  .welcome .welcome__left-text {
    width: 550px;
    height: 637px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .welcome .welcome__left-text h2 {
      font-size: 71px;
      font-weight: 800;
      letter-spacing: -0.47px;
      line-height: 1;
      margin-top: 0px;
      margin-bottom: 50px; }
      .welcome .welcome__left-text h2 span {
        font-size: 57px;
        letter-spacing: -0.59px;
        color: #fba419; }
    .welcome .welcome__left-text .welcome__text-div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-top: 0px;
      margin-bottom: 30px; }
      .welcome .welcome__left-text .welcome__text-div .welcome__quotes {
        display: block;
        width: 70px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 60px;
        text-align: center;
        margin: 0; }
      .welcome .welcome__left-text .welcome__text-div .welcome__text1 {
        display: block;
        width: 437px;
        height: 180px;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.6px;
        margin: 0; }
    .welcome .welcome__left-text .welcome__text2 {
      display: block;
      width: 531px;
      height: 120px;
      color: #252525;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.45px;
      margin-bottom: 50px; }
    .welcome .welcome__left-text .welcome__btn {
      width: 127px;
      height: 36px;
      border-radius: 25px;
      font-size: 14px; }
  .welcome .welcome__right-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 585px;
    height: 637px;
    background-image: url(../images/welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .welcome .welcome__right-img .welcome__right-text {
      display: block;
      width: 387px;
      height: 115px;
      color: #fff;
      font-size: 24px;
      line-height: 48px;
      font-weight: 600;
      letter-spacing: 2.4px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 55px; }

.our-company {
  height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/our_company.png);
  background-size: cover;
  background-position: center;
  color: #fff; }
  .our-company .our-company__left-text {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .our-company .our-company__left-text .our-company__left-text-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      width: 60%; }
      .our-company .our-company__left-text .our-company__left-text-wrap h1 {
        font-size: 71px;
        font-weight: 700;
        letter-spacing: -0.59px;
        line-height: 1;
        text-align: left;
        margin-bottom: 20px; }
        .our-company .our-company__left-text .our-company__left-text-wrap h1 span {
          color: #fba419;
          font-size: 57px;
          letter-spacing: -0.47px; }
      .our-company .our-company__left-text .our-company__left-text-wrap p {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.6px;
        line-height: 1.5; }
  .our-company .our-company__right-text {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .our-company .our-company__right-text .our-company__right-text-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      width: 70%; }
      .our-company .our-company__right-text .our-company__right-text-wrap .creative-work {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 50px; }
        .our-company .our-company__right-text .our-company__right-text-wrap .creative-work .creative-work__img {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 100px;
          height: 100px;
          background-position: center;
          background-size: cover; }
        .our-company .our-company__right-text .our-company__right-text-wrap .creative-work .creative-work__img--1 {
          width: 74px;
          height: 86px;
          background-image: url(../images/flag.png); }
        .our-company .our-company__right-text .our-company__right-text-wrap .creative-work .creative-work__img--2 {
          width: 77px;
          height: 77px;
          background-image: url(../images/monitor.png); }
        .our-company .our-company__right-text .our-company__right-text-wrap .creative-work .creative-work__img--3 {
          width: 63px;
          height: 62px;
          background-image: url(../images/diagram.png); }
        .our-company .our-company__right-text .our-company__right-text-wrap .creative-work .creative-work__img--4 {
          width: 71px;
          height: 78px;
          background-image: url(../images/personal.png); }
        .our-company .our-company__right-text .our-company__right-text-wrap .creative-work .creative-work__text {
          width: 430px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-flow: column;
                  flex-flow: column; }
          .our-company .our-company__right-text .our-company__right-text-wrap .creative-work .creative-work__text h3 {
            font-size: 24px;
            font-weight: 600;
            color: #fc9e20;
            text-transform: uppercase;
            margin-top: 0; }
          .our-company .our-company__right-text .our-company__right-text-wrap .creative-work .creative-work__text p {
            font-size: 17px;
            letter-spacing: 0.42px;
            line-height: 24px;
            margin: 0; }

.for-professionals {
  height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .for-professionals .for-professionals__creative1 {
    width: 237px;
    height: 517px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-image: url(../images/creative1.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    margin-right: 35px; }
    .for-professionals .for-professionals__creative1 .for-professionals__top-img {
      width: 54px;
      height: 63px;
      background: url(../images/flag.png);
      background-position: center;
      background-size: cover;
      margin-bottom: 20px; }
    .for-professionals .for-professionals__creative1 .for-professionals__bottom-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 30px; }
      .for-professionals .for-professionals__creative1 .for-professionals__bottom-text h3 {
        color: #fc9e20;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        margin: 0; }
      .for-professionals .for-professionals__creative1 .for-professionals__bottom-text p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 85%;
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 30px; }
      .for-professionals .for-professionals__creative1 .for-professionals__bottom-text .for-professionals__btn {
        width: 127px;
        height: 36px;
        border-radius: 25px;
        font-size: 14px; }
  .for-professionals .for-professionals__creative2 {
    width: 237px;
    height: 517px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-image: url(../images/creative2.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    margin-right: 65px; }
    .for-professionals .for-professionals__creative2 .for-professionals__top-img {
      width: 71px;
      height: 78px;
      background: url(../images/personal.png);
      background-position: center;
      background-size: cover;
      margin-bottom: 20px; }
    .for-professionals .for-professionals__creative2 .for-professionals__bottom-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 30px; }
      .for-professionals .for-professionals__creative2 .for-professionals__bottom-text h3 {
        color: #fc9e20;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        margin: 0; }
      .for-professionals .for-professionals__creative2 .for-professionals__bottom-text p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 85%;
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 30px; }
      .for-professionals .for-professionals__creative2 .for-professionals__bottom-text .for-professionals__btn {
        width: 127px;
        height: 36px;
        border-radius: 25px;
        font-size: 14px; }
  .for-professionals .for-professionals__welcome {
    width: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .for-professionals .for-professionals__welcome h2 {
      font-size: 71px;
      font-weight: 800;
      margin: 0; }
      .for-professionals .for-professionals__welcome h2 span {
        font-size: 57px;
        color: #fba419; }
    .for-professionals .for-professionals__welcome p {
      font-size: 18px;
      color: #252525;
      line-height: 30px;
      letter-spacing: 0.45px; }
    .for-professionals .for-professionals__welcome ul {
      height: 195px;
      list-style-image: url(../images/bird.png); }
      .for-professionals .for-professionals__welcome ul li {
        margin-bottom: 20px;
        font-weight: 800; }

.team {
  height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/team.png);
  background-size: cover;
  background-position: center;
  color: #fff; }
  .team .team__text-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75%; }
    .team .team__text-top h2 {
      font-size: 71px;
      letter-spacing: -0.59px;
      font-weight: 800;
      margin-top: 0;
      margin-bottom: 55px; }
      .team .team__text-top h2 span {
        color: #fba419; }
    .team .team__text-top p {
      font-size: 20px;
      letter-spacing: 0.45px;
      text-align: center;
      line-height: 1.5;
      margin-top: 0;
      margin-bottom: 70px; }
  .team .team__img-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%; }
    .team .team__img-bottom .team__item1 {
      width: 280px;
      height: 320px;
      background-image: url(../images/people1.png);
      background-size: cover;
      background-position: center; }
    .team .team__img-bottom .team__item2 {
      width: 280px;
      height: 320px;
      background-image: url(../images/people2.png);
      background-size: cover;
      background-position: center; }
    .team .team__img-bottom .team__item3 {
      width: 280px;
      height: 320px;
      background-image: url(../images/people3.png);
      background-size: cover;
      background-position: center; }
    .team .team__img-bottom .team__item4 {
      width: 280px;
      height: 320px;
      background-image: url(../images/people4.png);
      background-size: cover;
      background-position: center; }

.served {
  height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .served .served__left {
    width: 750px;
    height: 640px; }
    .served .served__left .served__left-top {
      width: 100%;
      height: 320px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .served .served__left .served__left-top .served__left-top__img {
        width: 430px;
        height: 300px;
        background-image: url(../images/served1.png); }
      .served .served__left .served__left-top .served__left-top__text {
        width: 300px;
        height: 300px; }
        .served .served__left .served__left-top .served__left-top__text h3 {
          font-size: 56px;
          font-weight: 800;
          letter-spacing: -0.59px; }
          .served .served__left .served__left-top .served__left-top__text h3 span {
            font-size: 48px;
            letter-spacing: -0.47px;
            color: #fba419; }
    .served .served__left .served__left-bottom {
      width: 100%;
      height: 320px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .served .served__left .served__left-bottom .served__left-bottom__left-img {
        width: 275px;
        height: 300px;
        background-image: url(../images/served2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
      .served .served__left .served__left-bottom .served__left-bottom__right-img {
        width: 430px;
        height: 300px;
        background-image: url(../images/served3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
  .served .served__right {
    width: 370px;
    height: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .served .served__right .served__right-text {
      width: 90%; }
      .served .served__right .served__right-text p {
        font-size: 16px;
        font-weight: 800;
        line-height: 30px;
        letter-spacing: 0.45px; }

.case {
  height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .case .case__img-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .case .case__img-bottom .case__item {
      height: 375px;
      width: 540px;
      outline: 1px solid red; }
      .case .case__img-bottom .case__item .case__item__wrap {
        display: none; }
        .case .case__img-bottom .case__item .case__item__wrap h3 {
          font-size: 16px;
          text-transform: uppercase;
          color: #fba419; }
        .case .case__img-bottom .case__item .case__item__wrap p {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 60%;
          color: #fff;
          letter-spacing: 0.4px; }
      .case .case__img-bottom .case__item:hover .case__item__wrap {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: rgba(0, 0, 0, 0.7); }
    .case .case__img-bottom .case__item1 {
      background-image: url(../images/case1.png); }
    .case .case__img-bottom .case__item2 {
      background-image: url(../images/case2.png); }
    .case .case__img-bottom .case__item3 {
      background-image: url(../images/case3.png); }

/*# sourceMappingURL=style.css.map */