html{
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

.container{
    max-width: 1600px;   
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.header {
    display: flex;
    flex-flow: column;  
    width: 100%;
    height: 870px;  
    background-image: url(../images/logo_bg.png);
    color: #fff;

    .header__logo-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 110px;
        background-color: transparent;
        border-bottom: 2px solid rgba(255,255,255,0.43);

        .header__logo{
            margin-left: 145px;            
        }

        .logo {
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            // width: 205px;
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 205px;
                height: 100px;
                text-decoration: none;
                color: #fff;
                                
                .logo__img{
                    width: 54px;
                    height: 41px;
                }

                .logo__text{
                    font-size: 43px;
                    letter-spacing: -0.47px;
                    font-weight: 600;
                } 
            }           
        }  
        

        .header__navigation{
            display: flex;
            justify-content: center;
            align-items: center; 
            
            ul {
                display: flex;
                justify-content: space-evenly;
                width: 700px;               
                list-style: none;      

                a{
                    text-decoration: none;
                    display: block;
                    font-size: 14px;
                    font-weight: 500; 
                    color: #fff;
                    text-transform: uppercase;                   
                }
            }

            .header__search{
                margin-left: 10px;

                a{
                    color: #fff;
                }
            }

            .header__facebook{
                margin-left: 35px;
                margin-right: 170px;

                a{
                    color: #fff;
                }
            }
        }
    }

    .header__logo-text{        
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;          
         

        .header__logo-text__wrap{            
            width: 560px;
            height: 400px;
            flex-flow: column;
            align-items: space-evenly;
            justify-content: center;
            margin-left: 250px;

            h1{
                font-size: 64px;
                letter-spacing: -0.69px;   
                margin-top: 10px; 
                margin-bottom: 0px; 
                
                span{
                    color: #fba419;
                }
            }

            p{
                font-size: 24px;
                line-height: 36px;
                letter-spacing: 0.6px;
                margin-top: 15px; 
                margin-bottom: 50px;             
            }

            .btn{
                width: 182px;
                height: 51px;
                background-color: #fba419;
                border: none;
                border-radius: 25px;
                color: #fff;
                font-size: 20px;            
                font-weight: 600;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                cursor: pointer;            
            }
        }
    }
}